/* src/App.css */
body {
  background-color: #e2dbc8; /* Dark background color */
  color: black; /* Text color */
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e2dbc8; /* Content background color */
}

.task {
  border: 1px solid #454545; /* Border color for tasks */
  cursor: pointer;
  background-color: #e2dbc8; /* Background color for tasks */
}

.completed-task {
  background-color: #4caf50; /* Light green color for completed tasks */
  border-color: #388e3c; /* Darker green border color for completed tasks */
}

.total-points {
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
}

.total-points span {
  font-size: 0.5em;
}

table {
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse;
}

table thead {
  background-color: #b8a282;
}

table td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

table .header {
  background-color: #b8a282;
  text-align: center;
  font-weight: bold;
}

.task-table-header {
  cursor: pointer;
}

.task-overview-table td:not(:first-child) {
  text-align: center;
}

.task-count {
  font-style: italic;
}
